### MIS581: Capstone project - US Organization

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
# read the CSV file as DataFrame; specify 1st row as header; assign column name;
df = pd.read_csv('COVID-19_Case_Surveillance_Public_Use_Data.csv', header=0, 
                 names=['cdc_report_dt', 'pos_spec_dt', 'onset_dt', 'current_status',  
                        'sex', 'age_group', 'race_ethnicity', 
                        'hosp_yn', 'icu_yn', 'death_yn', 'medcond_yn'])

C:\dev\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head(10)

,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity,hosp_yn,icu_yn,death_yn,medcond_yn
0,2020/11/10,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,No
1,2020/11/14,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
2,2020/11/19,2020/11/10,2020/11/09,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
3,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,No,Missing
4,2020/11/13,2020/11/10,2020/11/10,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Yes
5,2020/11/17,2020/11/10,2020/11/08,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
6,2020/11/14,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,Missing,Missing
7,2020/11/10,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
8,2020/11/10,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Unknown,Unknown,No,Unknown
9,2020/11/17,2020/11/10,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing

##### Create a dataset with replacing missing data; Filtering records which has pre-existing condition confirmed; Also, create a new variable "severe_ill" based on ICU or Death flag;

In [4]:
df1 = df[(df.medcond_yn=='Yes')][['sex', 'age_group', 'race_ethnicity', 'hosp_yn', 'icu_yn', 'death_yn']]

In [5]:
df1['hosp_yn'].replace(['Missing','Unknown'], 'No', inplace=True)
df1['icu_yn'].replace(['Missing','Unknown'], 'No', inplace=True)
df1['death_yn'].replace(['Missing','Unknown'], 'No', inplace=True)

df1.head(10)

     sex      age_group       race_ethnicity hosp_yn icu_yn death_yn
4   Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
14  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
16  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
23  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
29  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
34  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
39  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
41  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
42  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No
49  Male  10 - 19 Years  Black, Non-Hispanic      No     No       No

In [6]:
# add severity flag
df1['severe_ill'] = df1.apply(lambda row: 'Yes' if (row.icu_yn == 'Yes' or row.death_yn == 'Yes') else 'No', axis=1)

df1.head(10)

,sex,age_group,race_ethnicity,hosp_yn,icu_yn,death_yn,severe_ill
4,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
14,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
16,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
23,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
29,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
34,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
39,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
41,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
42,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No
49,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,No

In [7]:
df1[(df1.severe_ill == 'Yes')]

,sex,age_group,race_ethnicity,hosp_yn,icu_yn,death_yn,severe_ill
9133,Female,10 - 19 Years,Unknown,Yes,Yes,No,Yes
18293,Male,10 - 19 Years,Unknown,Yes,Yes,No,Yes
19041,Female,10 - 19 Years,"Black, Non-Hispanic",Yes,Yes,No,Yes
24424,Female,10 - 19 Years,"White, Non-Hispanic",Yes,Yes,No,Yes
26376,Male,10 - 19 Years,"White, Non-Hispanic",Yes,Yes,No,Yes
...,...,...,...,...,...,...,...
8398748,Female,30 - 39 Years,Hispanic/Latino,Yes,Yes,No,Yes
8398912,Female,30 - 39 Years,Hispanic/Latino,Yes,No,Yes,Yes
8399520,Female,30 - 39 Years,Hispanic/Latino,Yes,Yes,No,Yes
8400163,Female,30 - 39 Years,Hispanic/Latino,Yes,Yes,No,Yes
8401337,Female,30 - 39 Years,Hispanic/Latino,Yes,Yes,No,Yes

In [40]:
# total severe case %
severe = pd.value_counts(df1.severe_ill, sort=False).to_frame(name='Total')
total_case = np.sum(severe.Total)
print(total_case)
severe['percentage'] = severe.apply((lambda x: x.Total*100/total_case), axis=1)
severe

785255

      Total  percentage
Yes   88941   11.326384
No   696314   88.673616

### Hypothesis test based on Gender

In [8]:
# prepare data for Male and Female groups only
dfgender = df1[(df1.sex == 'Male') | (df1.sex == 'Female')]

gender = dfgender.groupby('sex')['severe_ill'].agg([lambda x: np.mean(x=='Yes'), 'size'])
gender.columns = ['SeverityByGender', 'Total']
gender

        SeverityByGender   Total
sex
Female          0.095459  418829
Male            0.134330  363395

In [9]:
import statsmodels.api as sm
import scipy.stats.distributions as dist

In [10]:
#Test statistics

#Population proportion with sevitiry
p_pop = len(dfgender[dfgender.severe_ill == 'Yes'])/len(dfgender)
print('Population proportion of severity illness: ', p_pop)

p_f = gender.SeverityByGender.Female
p_m = gender.SeverityByGender.Male

n_f = gender.Total.Female
n_m = gender.Total.Male

#std. error for two population proportion
se_gender = np.sqrt(p_pop*(1-p_pop)*(1/n_f + 1/n_m))
print('Std. Error of Gender severity illness: ', se_gender)

#best estimate
be_gender = p_f - p_m
print('Best estimate: ', be_gender)
#hypothesized estimate
h0_gender = 0
#test_statistics (z-score)
test_stat_gender = (be_gender - h0_gender)/se_gender
print('Test statistics of Gender severity illness: ', test_stat_gender)

# p-value
pvalue_gender = 2*dist.norm.cdf(-np.abs(test_stat_gender))
print('p-value of gender severity illness: ', pvalue_gender)

Population proportion of severity illness:  0.11351735564237354
Std. Error of Gender severity illness:  0.0007191574333261697
Best estimate:  -0.03887140586807998
Test statistics of Gender severity illness:  -54.051316258105174
p-value of gender severity illness:  0.0

In [11]:
import scipy.stats as sci

In [12]:
# prepare contengincy table of sex and severe illness frequency counts
dfg = df1[(df1.sex != 'Unknown') & (df1.sex != 'Missing')]

g = pd.crosstab(dfg['sex'], dfg['severe_ill'])
g

severe_ill      No    Yes
sex
Female      378848  39981
Male        314580  48815
Other           91      5

In [13]:
# Use Pearson's Chi-squared test for hypothesis testing
stat, p, dof, expected = sci.chi2_contingency(g)

# interprete test statistics and p-value
print('Test statistics: ', stat)
print('p-value: ', p)

Test statistics:  2925.314190922877
p-value:  0.0

### Hypothesis test based on Age Group

In [14]:
# prepare contengincy table for age group
dfage = df1[(df1.age_group != 'Unknown') & (df1.age_group != 'Missing')]

ag = pd.crosstab(dfage['age_group'], dfage['severe_ill'])
ag

severe_ill         No    Yes
age_group
0 - 9 Years     11995    118
10 - 19 Years   37906    239
20 - 29 Years   80436    877
30 - 39 Years   87116   2062
40 - 49 Years  108521   4297
50 - 59 Years  135933   9725
60 - 69 Years  116604  17088
70 - 79 Years   70560  21338
80+ Years       46980  33190

In [15]:
# Use Pearson's Chi-squared test for hypothesis testing
stat, p, dof, expected = sci.chi2_contingency(ag)

# interprete test statistics and p-value
print('Test statistics: ', stat)
print('p-value: ', p)

Test statistics:  116229.34253718083
p-value:  0.0

In [26]:
# calculate percentage by age group
ag['sum_by_group'] = ag.agg([lambda x: np.sum(x.No + x.Yes)], axis=1)
ag['severity_pct_grp'] = ag.apply((lambda x: (x.Yes/(x.Yes+x.No))*100), axis=1)
ag_total = np.sum(ag['sum_by_group'])
print('Total population with Age Group data', ag_total)
print('Total severe cases', np.sum(ag.Yes))
ag['severity_pct_pop'] = ag.apply((lambda x: (x.Yes/ag_total)*100), axis=1)
ag

Total population with Age Group data 784985.0
Total severe cases 88934

severe_ill         No    Yes  sum_by_group  severity_pct_grp  severity_pct_pop
age_group
0 - 9 Years     11995    118       12113.0          0.974160          0.015032
10 - 19 Years   37906    239       38145.0          0.626557          0.030446
20 - 29 Years   80436    877       81313.0          1.078548          0.111722
30 - 39 Years   87116   2062       89178.0          2.312229          0.262680
40 - 49 Years  108521   4297      112818.0          3.808789          0.547399
50 - 59 Years  135933   9725      145658.0          6.676599          1.238877
60 - 69 Years  116604  17088      133692.0         12.781617          2.176857
70 - 79 Years   70560  21338       91898.0         23.219221          2.718269
80+ Years       46980  33190       80170.0         41.399526          4.228106

### Hypothesis test based on Race and Ethnicity

In [16]:
# prepare contengincy table for race/ethnicity
dfre = df1[(df1.race_ethnicity != 'Unknown') & (df1.race_ethnicity != 'Missing')]

re = pd.crosstab(dfre['race_ethnicity'], dfre['severe_ill'])
re

severe_ill                                              No    Yes
race_ethnicity
American Indian/Alaska Native, Non-Hispanic           3378    357
Asian, Non-Hispanic                                  15712   3335
Black, Non-Hispanic                                 101376  17607
Hispanic/Latino                                     116321  13278
Multiple/Other, Non-Hispanic                         20484   3328
Native Hawaiian/Other Pacific Islander, Non-His...    3787    305
White, Non-Hispanic                                 319702  42396

In [17]:
# Use Pearson's Chi-squared test for hypothesis testing
stat, p, dof, expected = sci.chi2_contingency(re)

# interprete test statistics and p-value
print('Test statistics: ', stat)
print('p-value: ', p)

Test statistics:  1976.9639030767557
p-value:  0.0

In [33]:
#Race/Ethnicity analysis
re['sub_total'] = re.apply((lambda x: x.Yes+x.No), axis=1)
re['severe_pct_grp'] = re.apply((lambda x: (x.Yes*100/(x.Yes+x.No))), axis=1)
total_re = np.sum(re.sub_total)
re['severe_pct_pop'] = re.apply((lambda x: (x.Yes*100/total_re)), axis=1)
print('total with Race/Ethnicity: ', total_re)
print('Total Severe cases: ', np.sum(re.Yes))
re

total with Race/Ethnicity:  661366.0
Total Severe cases:  80606

severe_ill,No,Yes,sub_total,severe_pct_pop,severe_pct_grp
race_ethnicity,,,,,
"American Indian/Alaska Native, Non-Hispanic",3378,357,3735.0,0.053979,9.558233
"Asian, Non-Hispanic",15712,3335,19047.0,0.504259,17.509319
"Black, Non-Hispanic",101376,17607,118983.0,2.662217,14.797912
Hispanic/Latino,116321,13278,129599.0,2.007663,10.245449
"Multiple/Other, Non-Hispanic",20484,3328,23812.0,0.503201,13.976146
"Native Hawaiian/Other Pacific Islander, Non-Hispanic",3787,305,4092.0,0.046117,7.453568
"White, Non-Hispanic",319702,42396,362098.0,6.410369,11.708433